---
// Props: key, title, text, file, filetype
const { key, title, text, file, filetype, width, height } = Astro.props;
---

<div class="container" 
     onMouseEnter={(event) => handleMouseEnter(event, key)} 
     id={'resume-item-' + key}>
  <p class="title">{title}</p>
  <!-- The visibility of this will be controlled via JavaScript -->
  <div class="text-and-file" style="display: none;">
    <p class="text">{text}</p>
    {filetype === 'pdf' && (
      <object data={file} type="application/pdf" width={width} height={height}>PDF cannot be displayed</object>
    )}
    {/* Add more conditions here for other file types like 'png', 'jpg', etc. */}
  </div>
</div>

<script>
  // This script runs in the browser
  function handleMouseEnter(event, key) {
    // Update the `openedResumeKey` state in the parent component
    const customEvent = new CustomEvent('set-open-key', {
      detail: { key }
    });
    window.dispatchEvent(customEvent);
  }
</script>

<style>
  .container {
    margin: 10px;
    padding: 10px;
    border: 1px solid #fff;
    color: white;
    cursor: pointer;
    background-color: red;
  }
  .title {
    font-weight: bold;
  }
  .text {
    margin-top: 5px;
  }
  .certificate-container {
    margin-top: 10px;
  }
</style>
